In [104]:
# from sklearn.feature_extraction.text import TfidfVectorizer
# import numpy as np
from collections import Counter
import pandas as pd 
from nltk.tokenize import word_tokenize

# tfidf = TfidfVectorizer(stop_words='english')
    
t = """Two Travellers, walking in the noonday sun, sought the shade of a widespreading tree to rest. As they lay looking up among the pleasant leaves, they saw that it was a Plane Tree.

"How useless is the Plane!" said one of them. "It bears no fruit whatever, and only serves to litter the ground with leaves."

"Ungrateful creatures!" said a voice from the Plane Tree. "You lie here in my cooling shade, and yet you say I am useless! Thus ungratefully, O Jupiter, do men receive their blessings!"

Our best blessings are often the least appreciated."""
t = word_tokenize(t.lower())
cnt = Counter(t)

# tfs = tfidf.fit_transform(t.split(" "))
# str = 'tree cat travellers fruit jupiter'
# response = tfidf.transform([t])
# feature_names = tfidf.get_feature_names_out()

# for col in response.nonzero()[1]:
#     print(feature_names[col], ' - ', response[0, col])

In [105]:
# import nltk
# nltk.download('punkt')

In [106]:
examples_df

              example_freq
Training          0.000543
Generative        0.000247
Adversarial       0.000049
Networks          0.000049
with              0.009028
...                    ...
covers            0.000049
benchmarking      0.000049
public            0.000049
release.          0.000049
37                0.000049

[4991 rows x 1 columns]

In [107]:
with open('../example_article.txt', 'r') as f:
    word_freq = f.read().split()
    word_freq = Counter(word_freq)
examples_df = pd.Series(dict(word_freq)).rename('example_freq').to_frame()
examples_df['example_freq'] = examples_df['example_freq'] / examples_df['example_freq'].sum()
relevant_df = pd.Series(dict(cnt)).rename('relevant_freq').to_frame()
relevant_df['relevant_freq'] = relevant_df['relevant_freq'] / relevant_df['relevant_freq'].sum()

m = examples_df['example_freq'].min()
l = len(relevant_df)
relevant_df = relevant_df.join(examples_df, how='left').fillna(m)
assert len(relevant_df) == l

relevant_df['ratio'] = (relevant_df['example_freq'] - relevant_df['relevant_freq']).abs() / relevant_df['example_freq']
relevant_df.sort_values(by='ratio', ascending=False)

         relevant_freq  example_freq        ratio
``            0.033058      0.000022  1490.338843
!             0.033058      0.000022  1490.338843
''            0.033058      0.000022  1490.338843
tree          0.024793      0.000022  1117.504132
useless       0.016529      0.000022   744.669421
...                ...           ...          ...
and           0.016529      0.024006     0.311478
with          0.008264      0.006561     0.259577
the           0.057851      0.047503     0.217846
is            0.008264      0.010307     0.198205
in            0.016529      0.017068     0.031598

[77 rows x 3 columns]

In [49]:
sorted(dict(cnt).items(), key=lambda x: x[1], reverse=True)

[('the', 7),
 ('a', 3),
 ('in', 2),
 ('of', 2),
 ('to', 2),
 ('they', 2),
 ('Plane', 2),
 ('Tree.', 2),
 ('said', 2),
 ('and', 2),
 ('Two', 1),
 ('Travellers,', 1),
 ('walking', 1),
 ('noonday', 1),
 ('sun,', 1),
 ('sought', 1),
 ('shade', 1),
 ('widespreading', 1),
 ('tree', 1),
 ('rest.', 1),
 ('As', 1),
 ('lay', 1),
 ('looking', 1),
 ('up', 1),
 ('among', 1),
 ('pleasant', 1),
 ('leaves,', 1),
 ('saw', 1),
 ('that', 1),
 ('it', 1),
 ('was', 1),
 ('"How', 1),
 ('useless', 1),
 ('is', 1),
 ('Plane!"', 1),
 ('one', 1),
 ('them.', 1),
 ('"It', 1),
 ('bears', 1),
 ('no', 1),
 ('fruit', 1),
 ('whatever,', 1),
 ('only', 1),
 ('serves', 1),
 ('litter', 1),
 ('ground', 1),
 ('with', 1),
 ('leaves."', 1),
 ('"Ungrateful', 1),
 ('creatures!"', 1),
 ('voice', 1),
 ('from', 1),
 ('"You', 1),
 ('lie', 1),
 ('here', 1),
 ('my', 1),
 ('cooling', 1),
 ('shade,', 1),
 ('yet', 1),
 ('you', 1),
 ('say', 1),
 ('I', 1),
 ('am', 1),
 ('useless!', 1),
 ('Thus', 1),
 ('ungratefully,', 1),
 ('O', 1),
 ('Jupiter,', 1),
 ('do', 1),
 ('men', 1),
 ('receive', 1),
 ('their', 1),
 ('blessings!"', 1),
 ('Our', 1),
 ('best', 1),
 ('blessings', 1),
 ('are', 1),
 ('often', 1),
 ('least', 1),
 ('appreciated.', 1)]

In [33]:
feature_array = np.array(tfidf.get_feature_names_out())
tfidf_sorting = np.argsort(response.toarray()).flatten()[::-1]

n = 3
top_n = feature_array[tfidf_sorting][:n]

In [34]:
tfidf_sorting

array([ 6, 27,  8, 28,  7, 13, 12, 11, 10,  9, 34, 15,  5,  4,  3,  2,  1,
       14, 17, 16, 33, 18, 19, 20, 21, 22, 23, 24, 25, 26, 29, 30, 31, 32,
        0])

In [35]:
top_n

array(['fruit', 'travellers', 'jupiter'], dtype=object)

In [18]:
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(stop_words='english')
corpus = [
    'I would like to check this document',
    'How about one more document',
    'Aim is to capture the key words from the corpus',
    'frequency of words in a document is called term frequency'
]

X = tfidf.fit_transform(corpus)
feature_names = np.array(tfidf.get_feature_names())


new_doc = ['can key words in this new document be identified?',
           'idf is the inverse document frequency caculcated for each of the words']
responses = tfidf.transform(new_doc)


def get_top_tf_idf_words(response, top_n=2):
    sorted_nzs = np.argsort(response.data)[:-(top_n+1):-1]
    return feature_names[response.indices[sorted_nzs]]
  
print([get_top_tf_idf_words(response,2) for response in responses])

#[array(['key', 'words'], dtype='<U9'),
array(['frequency', 'words'], dtype='<U9')

AttributeError: 'TfidfVectorizer' object has no attribute 'get_feature_names'